.section-steps {
    margin-top: 69px;
    padding-top: 23px;
    padding-bottom: 15px;
    background-color: #F5F5F5;
}

.section-steps--repair-services-item-indent {
    margin-top: 21px;
    margin-bottom: 29px;
}

.section-steps--repair-services-indent {
    margin-top: 21px;
}

.section-steps--diagnostics-indent {
    margin-top: 0;
    margin-bottom: 10px;
}