.steps-list {
    @extend %list;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.steps-list__item {
    @media screen and (min-width: 1200px) {

        &:nth-child(5) {
            margin-left: -10px;
        }
        
    }
}

.steps-list__item-tochki {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding-bottom: 75px;

        transform: translateX(50px);

        &:nth-child(4) {
            margin-left: -65px;
        }

        &:nth-child(2) {
            margin-left: -25px;
        }

    }
}

.steps-list__thumb {
    display: flex;
    justify-content: center;
}

.steps-list__number {
    left: 0;
    font-weight: 700;
    font-size: 144px;
    line-height: 1.17;
    text-transform: uppercase;

    transform: translateX(30px);

    color: #D4E4EF;
}

.steps-list__img {
    width: 152px;
    height: 151px;
    margin-right: 40px;

    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.steps-list__text {
    display: block;
    width: 250px;
    @extend %marginLR-auto;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;

    @media screen and (min-width: 1200px) {
        width: auto;
    }
}

.steps-list__icon-tochki {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        width: 70px;
        height: 6px;
    }
}

.steps-list__icon-tochki-vpravo {
    display: block;
    width: 43px;
    height: 47px;
    @extend %marginLR-auto;
    margin-bottom: 10px;
    transform: rotate(90deg);

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-right: 12px;

        transform: rotate(0deg);
    }
}