.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;

    &--footer {
        padding-top: 22px;
        padding-bottom: 28px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
        margin-right: 20px;

        border-top: 2px solid #D4E4EF;
        border-bottom: 2px solid #D4E4EF;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }
}