.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;

    &--footer {
        padding-top: 22px;
        padding-bottom: 28px;
        padding-left: 20px;
        padding-right: 20px;

        border-top: 2px solid #D4E4EF;
        border-bottom: 2px solid #D4E4EF;

        @media screen and (min-width: 1200px) {
            margin: 0 auto;
            border-top: none;
        }
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 1200px) {
        width: 1151px;

        &--flex {
            display: flex;
            justify-content: space-around;
        }
    }
}

.container-wrap {
    width: 100%;
    height: 0;
    visibility: hidden;
    // opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: -1;
    pointer-events: none;

    transition: all 250ms ease-out;
    overflow: hidden;
    
    @media screen and (min-width: 1200px) {
        position: absolute;
        left: 0;
        top: 100%;
        height: auto;

        display: flex;

        background-color: var(--white-color);
        border-bottom: 2px solid #D4E4EF;
    }

    &.submenu-open {
        position: static;
        z-index: 1000;
        visibility: visible;
        transform: scaleY(1);
        // opacity: 1;

        height: 300px;
        pointer-events: all;

        overflow-y: scroll;
        
        @media screen and (min-width: 1200px) {
            position: absolute;
            overflow-y: auto;
            height: auto;
        }
    }
}

.text-box {
    @media screen and (min-width: 1200px) {
        width: 1151px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}