.way {
}

.way__link {
    display: inline-flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-decoration-line: underline;

    color: var(--secondary-text-color);
}

.way__link:last-child {
    text-decoration: none;
}

.way__icon {
    width: 24px;
    height: 14px;
}