.way {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 13px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1151px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.way__link {
    display: inline-flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    text-decoration-line: underline;

    color: var(--secondary-text-color);

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }

    &:last-child {
        text-decoration: none;
    }
}

.way__icon {
    width: 24px;
    height: 14px;
}