body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, Roboto Condensed, sans-serif;
    padding-top: 60px;
}

// body.modal-open {
//     overflow: hidden;

//     @media screen and (min-width: 1200px) {
//         overflow: auto;
//     }
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.none {
    display: none;
}