.section-repair-advice {
    padding-top: 11px;
    padding-bottom: 29px;
}

.section-repair-advice__title {
    margin-left: 20px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

    color: var(--primary-text-color);
}