.section-repair-advice {
    padding-top: 11px;
    padding-bottom: 29px;

    @media screen and (min-width: 1200px) {
        padding-top: 22px;
        padding-bottom: 28px;
    }
}

.section-repair-advice__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-bottom: 27px;

        font-size: 36px;
        line-height: 1.16;
    }
}