<ul class="recommendations">
    <li class="recommendations__item">
        <div class="recommendations__image-thumb">
            <img src="./images/recommendations/image-1.jpg" alt="">
        </div>
        <div class="recommendations__text-thumb">
            <h3 class="recommendations__title">Телефон упал в воду? Что делать при
            попадании жидкости в телефон</h3>
            <h4 class="recommendations__subtitle">21.02.2023</h4>
            <p class="recommendations__text">Эту статью меня подстрекнуло написать большое количество обращений в наш сервисный центр с вопросами "Мой телефон упал в воду, что мне делать?" , "Сколько будет стоить ремонт утопленного телефона?", "Мой телефон намок, сразу работал, потом перестал включаться", или "Постирали телефон в стиральной машинке.</p>
            <a class="recommendations__link red-color" href="./repair-advice.html">Подробнее</a>
        </div>
    </li>

    <li class="recommendations__item">
        <div class="recommendations__image-thumb">
            <img src="./images/recommendations/image-2.jpg" alt="">
        </div>
        <div class="recommendations__text-thumb">
            <h3 class="recommendations__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus.</h3>
            <h4 class="recommendations__subtitle">21.02.2023</h4>
            <p class="recommendations__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque soluta possimus laudantium. Sequi nam ipsum repellat magni, illo eligendi perspiciatis eaque ab. Magni qui laudantium commodi quas fugiat eveniet assumenda eligendi adipisci accusamus pariatur fugit facilis minima sapiente nemo vel sed, neque, illo unde eum.</p>
            <a class="recommendations__link" href="">Подробнее</a>
        </div>
    </li>

    <li class="recommendations__item">
        <div class="recommendations__image-thumb">
            <img src="./images/recommendations/image-3.jpg" alt="">
        </div>
        <div class="recommendations__text-thumb">
            <h3 class="recommendations__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus.</h3>
            <h4 class="recommendations__subtitle">21.02.2023</h4>
            <p class="recommendations__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque soluta possimus laudantium. Sequi nam ipsum repellat magni, illo eligendi perspiciatis eaque ab. Magni qui laudantium commodi quas fugiat eveniet assumenda eligendi adipisci accusamus pariatur fugit facilis minima sapiente nemo vel sed, neque, illo unde eum.</p>
            <a class="recommendations__link" href="">Подробнее</a>
        </div>
    </li>

    <li class="recommendations__item">
        <div class="recommendations__image-thumb">
            <img src="./images/recommendations/image-4.jpg" alt="">
        </div>
        <div class="recommendations__text-thumb">
            <h3 class="recommendations__title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus.</h3>
            <h4 class="recommendations__subtitle">21.02.2023</h4>
            <p class="recommendations__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque soluta possimus laudantium. Sequi nam ipsum repellat magni, illo eligendi perspiciatis eaque ab. Magni qui laudantium commodi quas fugiat eveniet assumenda eligendi adipisci accusamus pariatur fugit facilis minima sapiente nemo vel sed, neque, illo unde eum.</p>
            <a class="recommendations__link" href="">Подробнее</a>
        </div>
    </li>
</ul>

<button class="section-pr__button" type="button">
    Показать еще
    <svg class="section-pr__icon">
        <use href="./images/sprite.svg#refresh"></use>
    </svg>
</button>
    
<ul class="list-pages">
    <li class="list-pages__item">
        <a class="list-pages__link accent-color" href="">1</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">2</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">3</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">4</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">5</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">...</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">40</a>
    </li>

    <li class="list-pages__item">
        <a class="list-pages__link" href="">
            <svg class="list-pages__link__icon">
                <use href="./images/sprite.svg#strelka-vpravo"></use>
            </svg>
        </a>
    </li>
</ul>