.advantages-list {
    @extend %list;

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.advantages-list__item {
    margin-bottom: 11px;

    &:last-child {
        margin-bottom: 29px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 100px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

.advantages-list__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %marginLR-auto;
    width: 148px;
    height: 148px;
    margin-bottom: 11px;

    background-color: #F3F8FB;
    border-radius: 50%;
}

.advantages-list__icon {
    width: 85px;
    height: 84px;
}

.advantages-list__text {
    display: block;
    width: 200px;
    @extend %marginLR-auto;

    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
}

.advantages-button-thumb {
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}

.advantages-button {
    display: block;
    width: 214px;
    height: 40px;
    @extend %marginLR-auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;

    border: none;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    
    transition: background-color 250ms;

    &:hover {
        background-color: #0060AA;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;

    }
}

.banner-button-width {
    width: 252px;

    @media screen and (min-width: 1200px) {
        margin: 0 auto;
    }
}

.accent {
    margin-top: 16px;

    color: var(--accent-color);
    background-color: var(--white-color);
    border: 2px solid #27ACE2;

    &:hover {
        background-color: #0060AA;
        color: var(--white-color);
        border: 2px solid #0060AA;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: 28px;
    }
}