.section-map {
    padding-top: 21px;

    @media screen and (min-width: 1200px) {
        padding-top: 50px;
        padding-bottom: 54px;
    }
}

.section-map__title {
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 21px;
    line-height: 1.19;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;

        font-size: 30px;
        line-height: 1.16;
    }
}