
// /////////////////////////----------СПИСОК С ИНФОРМАЦИЕЙ О РАБОТЕ, ВРЕМЕНИ И ЭЛ.ПОЧТЕ----------///////////////////////////////
.information-thumb {
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.information-list {
    @extend %list;
}

.information-list__item {
    display: flex;
    margin-bottom: 24px;
}

.information-list__icon{
    width: 23px;
    height: 23px;

    fill: var(--accent-color);

    margin-right: 9px;
}

.information-list__text {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 17px;
    line-height: 1.17;

    color: var(--secondary-text-color);

    &:last-child {
        margin-bottom: 0;
    }
}

.information-list__text-accent {
    font-weight: 700;
}

.information-list__tel {
    display: block;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 17px;
    line-height: 1.17;
    text-decoration: none;

    color: var(--secondary-text-color);

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.information-list__mail {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 17px;
    line-height: 1.17;
    text-decoration: none;

    color: var(--secondary-text-color);

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }
}
// ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// //////////////////////--------------------------СПИСОК CОЦИАЛЬНЫХ СЕТЕЙ------------------------------//////////////////////////

.social-list__contacts {
    @extend %list;
    display: flex;
}
// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// ////////////////////////////-------------------------ТЕКСТ С АДРЕСОМ---------------------------------///////////////////////////

.contacts-address {
    margin-top: 27px;

    @media screen and (min-width: 1200px) {
        margin-top: 48px;
    }
}

.contact-address__title {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.19;

    @media screen and (min-width: 1200px) {
        margin-bottom: 15px;

        font-size: 30px;
        line-height: 1.26
    }
}

.contact-address__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    @media screen and (min-width: 1200px) {
        margin-bottom: 61px;
    }
}
// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// //////////////////////-----------------------ФОТОГРАФИЯ МАГАЗИНА-------------------------------/////////////////////////////////

.contacts-image {
    display: block;
    min-height: 171px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 12px;
    background-image: url(../images/section-contacts/spb.jpg);
    background-size: cover;
    background-position: 50% 50%;

    @media screen and (min-width: 1200px) {
        width: 588px;
        height: 271px;
        margin: 0;

        border-radius: 10px;
        box-shadow: 5px 4px 8px 3px rgba(34, 60, 80, 0.2);
    }
}
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////