.section-contacts {
    position: relative;
    padding-top: 13px;
    padding-bottom: 21px;
}

.section-contacts__title {
    margin-top: 14px;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
}

.section-contacts__title-hidden {
    display: none;
}