.footer-thumb {
    width: 100%;

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.footer-wrap {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.botton-indent {
    margin-bottom: 27px;
}

.footer-thumb__separate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.footer-thumb__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 27px;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.footer-logo {
    display: flex;
    width: 96px;
    height: 19px;
    margin-bottom: 16px;

    background-image: url(../images/logo-mobile.png);
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1200px) {
        width: 190px;
        height: 40px;
        margin-bottom: 1px;

        background-image: url(../images/logo.png);
        background-size: 190px 40px;
    }
}

.footer-logo__text {
    @media screen and (min-width: 1200px) {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.15;
        text-decoration: none;

        margin-bottom: 21px;

        color: var(--secondary-text-color);
    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 155px;
    height: auto;

    @media screen and (min-width: 1200px) {
        order: 3;
        align-items: flex-start;
    }
}

.footer__link-text {
    display: inline-flex;
    margin-top: 2px;
    margin-right: 14px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-decoration-line: underline;

    color: var(--text-accent-color);

    transition: color 250ms linear;

    &:hover {
        color: #0060AA;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: 28px;
    }
}

.footer__link-tel {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14px;

    color: var(--secondary-text-color);

    text-decoration: none;

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        width: 200px;

        font-size: 17px;
        line-height: 1.17;
    }
}

.footer__icon-tel {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 13px;

        fill: var(--accent-color);

        
    }
}

.footer__icon-whatsapp {
    width: 13px;
    height: 13px;

    margin-left: 9px;

    fill: #33D16B;

    @media screen and (min-width: 1200px) {
        width: 17px;
        height: 17px;
    }
}

.footer__icon-viber {
    width: 13px;
    height: 13px;

    margin-left: 9px;

    fill: #7B539C;

    @media screen and (min-width: 1200px) {
        width: 17px;
        height: 17px;
    }
}

.footer-address {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        order: 2;
    }
}

.footer-address-moble {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.footer-address__link {
    display: flex;
    margin-top: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-decoration-line: underline;

    color: var(--secondary-text-color);

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 10px;
    }
}

.footer-address__icon {
    display: none;

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        width: 16px;
        height: 16px;
        margin-right: 13px;

        fill: var(--accent-color);
    }
}

.footer-address__text {
    display: block;
    width: 94px;

    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;

    color: var(--secondary-text-color);
    opacity: 0.7;

    @media screen and (min-width: 1200px) {
        width: auto;
        margin-bottom: 15px;

        font-size: 14px;
        line-height: 1.14;
    }
}

.footer-information {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.footer-services {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.social-list-mobile {
    display: flex;
    @extend %list;
}

.social-list {
    display: none;
    @extend %list;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.social-list__item {
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    transition: background-color 250ms linear;

    &:hover {
        background-color: var(--accent-color);   
    }
}

.social-list__icon {
    width: 20px;
    height: 17px;
    fill: var(--accent-color);

    transition: fill 500ms linear;

    .social-list__link:hover & {
        fill: var(--white-color);
    }
}