.section-diagnostics {
    padding-top: 20px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px) {
        padding-top: 27px;
        padding-bottom: 26px;
    }
}

.section-diagnostics__title {
    margin-bottom: 14px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;

    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        margin-left: 0;

        font-size: 36px;
        line-height: 1.16;
    }
}

.section-diagnostics__text {
    margin-bottom: 16px;

    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }
}

.wrapper-diagnostics {
    @media screen and (min-width: 1200px) {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.section-diagnostics__content {
    @media screen and (min-width: 1200px) {
        width: 778px;
    }
}