<div class="information-thumb">
    <div class="information-wraper">
        <ul class="information-list">
            <li class="information-list__item">
                <svg class="information-list__icon">
                    <use href="./images/sprite.svg#clock2"></use>
                </svg>
                <div class="information-list__thumb">
                    <p class="information-list__text">
                        ВТ-ВС
                    <span class="information-list__text-accent">9:00 до 19:00</span>
                    </p>
                    <p class="information-list__text">ПН <span class="information-list__text-accent">выходной</span></p>
                </div>
            </li>
        
            <li class="information-list__item">
                <svg class="information-list__icon">
                    <use href="./images/sprite.svg#call1"></use>
                </svg>
                <div class="information-list__thumb">
                    <a class="information-list__tel" href="tel:+7 (800) 452-16-85">+7 (800) 452-16-85</a>
                    <a class="information-list__tel" href="tel:+7 (800) 775-65-44">+7 (800) 775-65-44</a>
                </div>
            </li>
        
            <li class="information-list__item">
                <a class="information-list__mail" href="mailto:info@stopnfix.com">
                    <svg class="information-list__icon">
                        <use href="./images/sprite.svg#mail4"></use>
                    </svg>
                    info@stopnfix.com
                </a>
            </li>
        </ul>
        
        <ul class="social-list__contacts">
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon">
                        <use href="./images/sprite.svg#vk"></use>
                    </svg>
                </a>
            </li>
    
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon">
                        <use href="./images/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </li>
                    
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon">
                        <use href="./images/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
    
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon">
                        <use href="./images/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
    
        </ul>
        
        <address class="contacts-address">
            <h2 class="contact-address__title">Мы находимся по адресу:</h2>
            <p class="contact-address__text">г.Санкт-Петербург улица Ленина, 4</p>
        </address>
    </div>
    
    <div class="contacts-image">
    </div>
</div>
    