<section class="section-contacts">
    <div class="container">
        <div class="way">
            <a class="way__link" href="./index.html">Главная</a>
            <a class="way__link" href="">/ Контакты</a>
        </div>
    
        <h2 class="section-contacts__title">Контакты <span class="section-contacts__title-hidden">и график работы:</span></h2>
    
        <div class="information-thumb">
            <ul class="information-list">
                <li class="information-list__item">
                    <svg class="information-list__icon">
                        <use href="./images/sprite.svg#clock2"></use>
                      </svg>
                    <div class="information-list__thumb">
                        <p class="information-list__text">
                            ВТ-ВС
                            <span class="information-list__text-accent">9:00 до 19:00</span>
                           </p>
                       <p class="information-list__text">ПН <span class="information-list__text-accent">выходной</span></p>
                    </div>
                </li>
    
                <li class="information-list__item">
                    <svg class="information-list__icon">
                        <use href="./images/sprite.svg#call1"></use>
                      </svg>
                    <div class="information-list__thumb">
                        <a class="information-list__tel" href="tel:+7 (800) 452-16-85">+7 (800) 452-16-85</a>
                        <a class="information-list__tel" href="tel:+7 (800) 775-65-44">+7 (800) 775-65-44</a>
                    </div>
                </li>
    
                <li class="information-list__item">
                    <a class="information-list__mail" href="mailto:info@stopnfix.com">
                        <svg class="information-list__icon">
                        <use href="./images/sprite.svg#mail4"></use>
                      </svg>
                      info@stopnfix.com
                    </a>
                </li>
            </ul>
    
            <ul class="social-list__contacts">
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#vk"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#twitter"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#instagram"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#facebook"></use>
                          </svg>
                    </a>
                </li>
            </ul>
    
            <address class="contacts-address">
                <h2 class="contact-address__title">Мы находимся по адресу:</h2>
                <p class="contact-address__text">c.Кулешовка, улица Дуракова, 4 </p>
            </address>
    
            <div class="contacts-image">
            </div>
        </div>
    </div>
    
    <div class="section-contacts__map">
        <div class="map">
            <script type="text/javascript" 
            charset="utf-8" 
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7106b956766e2e21e5140ca8c1ef5a4a8ffe5070d913789d2d4aff46b45b2b47&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </div>
    
</section>