.section-promotions {
    padding-top: 33px;
    padding-bottom: 43px;
    background-color: #F5F5F5;
}

.section-promotions--indent {
    margin-top: 38px;
    margin-bottom: 22px;
}

.section-promotions--lower-indentation {
    margin-bottom: 22px;
}