<button class="search-button" type="submit" data-modal-search-open>Найти свое устройство</button>

<div class="backdrop-search backdrop--is-hidden" data-modal-search>
    <form class="search-form">
        <button class="search-form__button-close" data-modal-search-close>
            <svg class="button-modal-close__icon" width="22" height="22">
                <use
                  href="./images/sprite.svg#close"
                ></use>
              </svg>
        </button>
    
        <select class="search-form__select" name="device">
            <option value="iphone">Выберите  устройство</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
        </select>
    
        <select class="search-form__select" name="device">
            <option value="iphone">Выберите  устройство</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
        </select>
    
        <select class="search-form__select" name="device">
            <option value="iphone">Выберите  устройство</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
            <option value="iphone">iphone</option>
        </select>
    
        <button class="search-form__button" type="submit">Найти</button>
    </form
</div>