<footer class="footer">
    <div class="container container--footer">
        <div class="footer-thumb">
            <button class="advantages-button" type="submit">Записаться на ремонт</button>

            <button class="advantages-button accent botton-indent" type="submit">Найти свое устройство</button>

            <div class="footer-thumb__separate">
                <div class="footer-thumb__logo">
                    <a class="footer-logo" href="./index.html">
                    <p class="footer-logo__text none">Ремонт мобильных телефонов</p>
                </a>
                <address class="footer-address-moble">
                    <p class="footer-address__text">
                      <svg class="footer-address__icon">
                          <use href="./images/sprite.svg#map"></use>
                        </svg>с.Кулешовка улица Дуракова, 4</p>
                </address>
                </div>
    
                <div class="footer-contacts">
                    <a class="footer__link-tel" href="tel:+7 (800) 452-16-85">
                        <svg class="footer__icon-tel">
                            <use href="./images/sprite.svg#smartphone"></use>
                          </svg>+7 (800) 452-16-85
                          <svg class="footer__icon-whatsapp">
                            <use href="./images/sprite.svg#call-2"></use>
                          </svg></a>
                
                    <a class="footer__link-tel" href="tel:+7 (800) 775-65-44">
                      <svg class="footer__icon-tel">
                        <use href="./images/sprite.svg#smartphone"></use>
                      </svg>+7 (800) 775-65-44
                      <svg class="footer__icon-viber">
                        <use href="./images/sprite.svg#call-2"></use>
                      </svg></a>
                
                    <a class="footer__link-text" href="">Записаться на ремонт</a>
                </div>

                <div class="footer-thumb__social">
                    <ul class="social-list-mobile">
                        <li class="social-list__item">
                            <a class="social-list__link" href="">
                                <svg class="social-list__icon">
                                    <use href="./images/sprite.svg#vk"></use>
                                  </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a class="social-list__link" href="">
                                <svg class="social-list__icon">
                                    <use href="./images/sprite.svg#twitter"></use>
                                  </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a class="social-list__link" href="">
                                <svg class="social-list__icon">
                                    <use href="./images/sprite.svg#instagram"></use>
                                  </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a class="social-list__link" href="">
                                <svg class="social-list__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                  </svg>
                            </a>
                        </li>
                    </ul>
    
                    <address class="footer-address-mobile">
                        <a class="footer-address__link" href="mailto:info@stopnfix.com">
                            <svg class="footer-address__icon">
                                <use href="./images/sprite.svg#mail"></use>
                              </svg>
                              info@stopnfix.com
                        </a>
                    </address>
                </div>

                <address class="footer-address">
                    <a class="footer-address__link" href="">
                        <svg class="footer-address__icon">
                            <use href="./images/sprite.svg#mail"></use>
                          </svg>
                          info@stopnfix.com
                    </a>
                          <p class="footer-address__text">
                            <svg class="footer-address__icon">
                                <use href="./images/sprite.svg#map"></use>
                              </svg>г. Киев, улица Ушинского, 4</p>
                </address>
            </div>

            <ul class="footer-information">
                <h2 class="footer-information__title">Информация</h2>
                <li class="footer-information__item">
                    <a class="footer-information__link" href="">Акции</a>
                </li>
                <li class="footer-information__item">
                    <a class="footer-information__link" href="">Советы по ремонту</a>
                </li>
                <li class="footer-information__item">
                    <a class="footer-information__link" href="">О компании</a>
                </li>
                <li class="footer-information__item">
                    <a class="footer-information__link" href="">Отзывы</a>
                </li>
                <li class="footer-information__item">
                    <a class="footer-information__link" href="">Контакты</a>
                </li>
            </ul>

            <ul class="footer-services">
                <h2 class=" footer-services__title">Услуги</h2>
                <li class="footer-services__item">
                    <a class="footer-services__link" href="">Ремонт мобильных телефонов</a>
                </li>
                <li class="footer-services__item">
                    <a class="footer-services__link" href="">Ремонт планшетов</a>
                </li>
            </ul>

            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#vk"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#twitter"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#instagram"></use>
                          </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="">
                        <svg class="social-list__icon">
                            <use href="./images/sprite.svg#facebook"></use>
                          </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="footer__text">&#169; Сервис по ремонту StopNFix. 2023.</p>
</footer>