<nav class="nav">
    <ul class="menu-nav">
        <li class="menu-nav__item"><a class="menu-nav__link" href="">О нас</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="">Отзывы</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="">Советы по ремонту</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="">Акции</a></li>
        <li class="menu-nav__item"><a class="menu-nav__link" href="./contacts.html">Контакты</a></li>
    </ul>
    <address class="address-heder">
        <p class="address-heder__text">
            с. Кулешовка, ул. Дуракова,4 
            <span class="address-heder__text-accent">ПН-ПТ с 10:00 до 20:00</span>
        </p>
    </address>
</nav>