<div class="header-mobile">
<button 
class="button-burger is-open"
type="button"
aria-expanded="false"
aria-controls="button-berger"
data-menu-button>
<svg 
    class="button-burger__image" 
    width="22" 
    height="22"
    aria-label="Переключатель мобильного меню">
        <use class="icon-cross"
            href="./images/sprite.svg#close"
            ></use>
        <use class="icon-burger"
            href="./images/sprite.svg#burger"
            ></use>
    </svg>
</button>

<a class="mobile-logo" href=""><img class="mobile-logo__image" src="./images/logo.png" alt=""></a>

<button
class="button-contact contact-open"
type="button"
aria-expanded="false"
aria-controls="button-contact"
contact-menu-button>
<svg 
class="button-contact__image"
aria-label="показать контакты">
    <use
        href="./images/sprite.svg#smartphone"
        ></use>
</svg>
</button>

<div class="mobile-contacts" id="button-contact" contact-menu>
    <a class="contacts__link-tel" href="tel:+7 (800) 452-16-85">
        <svg class="contacts__icon-tel">
            <use href="./images/sprite.svg#smartphone"></use>
          </svg>+7 (800) 452-16-85
          <svg class="contacts__icon-whatsapp">
            <use href="./images/sprite.svg#call-2"></use>
          </svg></a>

    <a class="contacts__link-tel" href="tel:+7 (800) 775-65-44">
      <svg class="contacts__icon-tel">
        <use href="./images/sprite.svg#smartphone"></use>
      </svg>+7 (800) 775-65-44
      <svg class="contacts__icon-viber">
        <use href="./images/sprite.svg#call-2"></use>
      </svg></a>

    <a class="contacts__link-text" href="">Записаться на ремонт</a>
</div>

</div>