<ul class="promotions-nav">
    <li class="promotions-nav__item">
        <a class="promotions-nav__link"  href="" onclick="return false;">Акции</a>
        <div class="promotions-nav__active"></div>
    </li>
    <li class="promotions-nav__item">
        <a class="promotions-nav__link" href="" onclick="return false;">Новости блога</a>
    </li>
</ul>

<ul class="promotions-list">
    <li class="promotions-list__item">
        <div class="promotions-list__thumb">
            <img class="promotions-list__image" src="./images/section-promotions/promotion-1.jpg" alt="...">
        </div>
        <p class="promotions-list__text">Скидка на ремонт второго телефона -20%</p>
    </li>

    <li class="promotions-list__item none">
        <div class="promotions-list__thumb">
            <img class="promotions-list__image" src="./images/section-promotions/promotion-2.jpg" alt="...">
        </div>
        <p class="promotions-list__text">Новогодняя акция на ремонт
            мобильных телефонов!</p>
    </li>

    <li class="promotions-list__item none">
        <div class="promotions-list__thumb">
            <img class="promotions-list__image" src="./images/section-promotions/promotion-3.jpg" alt="...">
        </div>
        <p class="promotions-list__text">Диагностика планшета
            в подарок!</p>
    </li>

    <button class="promotions-list__button" type="button">Все акции</button>
</ul>