<section class="section-map">
    <h2 class="section-map__title">Как нас найти</h2>
    <div class="map">
        <script type="text/javascript" 
        charset="utf-8" 
        async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7106b956766e2e21e5140ca8c1ef5a4a8ffe5070d913789d2d4aff46b45b2b47&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>

    <div class="block-text">
        <input class="block-text__input" type="checkbox" id="limiter-checker">
        <div class="block-text__limiter">
            <p class="block-text__text">Современную жизнь практически невозможно представить
                себе без использования мобильных устройств - смартфоны помогают находить нужную информацию, 
                служат средством связи и являются своеобразным. </p>
                <div class="block-text__bottom"></div>
        </div>
        <label class="block-text__label" for="limiter-checker"></label>
        <a class="section-map__link" href="#top">
            <svg class="section-map__icon">
                <use href="./images/sprite.svg#strelka-vverh"></use>
              </svg>
        </a>
    </div>
    
</section>