<ul class="advantages-list">
  <li class="advantages-list__item">
    <div class="advantages-list__thumb">
      <svg class="advantages-list__icon">
        <use href="./images/sprite.svg#advantages-1"></use>
      </svg>
    </div>
    <p class="advantages-list__text">Гибкие цены и бесплатная диагностика</p>
  </li>

  <li class="advantages-list__item">
    <div class="advantages-list__thumb">
      <svg class="advantages-list__icon">
        <use href="./images/sprite.svg#advantages-2"></use>
      </svg>
    </div>
    <p class="advantages-list__text">Целый склад запасныхчастей в наличии</p>
  </li>

  <li class="advantages-list__item">
    <div class="advantages-list__thumb">
      <svg class="advantages-list__icon">
        <use href="./images/sprite.svg#advantages-3"></use>
      </svg>
    </div>
    <p class="advantages-list__text">Самый быстрый ремонт в Кулешовке</p>
  </li>

  <li class="advantages-list__item">
    <div class="advantages-list__thumb">
      <svg class="advantages-list__icon">
        <use href="./images/sprite.svg#advantages-4"></use>
      </svg>
    </div>
    <p class="advantages-list__text">Даем гарантию на свою работу</p>
  </li>
</ul>