<ul class="steps-list">
  <li class="steps-list__item">
    <div class="steps-list__thumb">
      <p class="steps-list__number">1</p>
      <img class="steps-list__img" src="./images/section-steps/step-1.png" alt="">
    </div>
    <p class="steps-list__text">Укaжитe уcтpoйcтвo, кoтopoe
    нужнo oтpeмoнтиpoвaть</p>
  </li>

  <li class="steps-list__item">
    <svg class="steps-list__icon-tochki">
      <use href="./images/sprite.svg#tochki"></use>
    </svg>
    <svg class="steps-list__icon-tochki-vpravo">
      <use href="./images/sprite.svg#tochki-vpravo"></use>
    </svg>
    <svg class="steps-list__icon-tochki">
      <use href="./images/sprite.svg#tochki"></use>
    </svg>
  </li>

  <li class="steps-list__item">
    <div class="steps-list__thumb">
      <p class="steps-list__number">2</p>
      <img class="steps-list__img" src="./images/section-steps/step-2.png" alt="">
    </div>
      <p class="steps-list__text">Запишитесь на ремонт в StоpNFix
      в удобное для вас время, 
      мастер будет вас ждать</p>
  </li>

  <li class="steps-list__item">
    <svg class="steps-list__icon-tochki">
      <use href="./images/sprite.svg#tochki"></use>
    </svg>
    <svg class="steps-list__icon-tochki-vpravo">
      <use href="./images/sprite.svg#tochki-vpravo"></use>
    </svg>
    <svg class="steps-list__icon-tochki">
      <use href="./images/sprite.svg#tochki"></use>
    </svg>
  </li>

  <li class="steps-list__item">
    <div class="steps-list__thumb">
      <p class="steps-list__number">3</p>
      <img class="steps-list__img" src="./images/section-steps/step-3.png" alt="">
    </div>
    <p class="steps-list__text">После определения причины
    поломки, гаджет будет в кротчайшие сроки  отремонтирован</p>
  </li>
</ul>