.devices-title {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;

        color: var(--rare--text-color);
    }
}

// .list-devices {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     @media screen and (min-width: 1200px) {
//         display: flex;
//         flex-wrap: wrap;
//         padding-top: 52px;
//         padding-bottom: 52px;
//         margin-right: -72px;
//         margin-bottom: -10px;
//     }
// }

// .list-devices__item {

//     @media screen and (min-width: 1200px) {
//         flex-basis: calc(100% / 5 - 72px);
//         margin-right: 72px;
//         margin-bottom: 10px;

//         transform: scale(1);
//     }
// }

.list-devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @extend %list;
    max-width: 435px;
    padding-top: 20px;
    padding-bottom: 55px;

    @media screen and (min-width: 1200px) {
        max-width: 1111px;
        height: 705px;
        padding-top: 52px;
        padding-bottom: 52px;
    }
}

.list-devices__item {
    display: block;
    width: 120px;
    min-height: 173px;
    margin-right: 40px;
    margin-bottom: 33px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        min-width: 162px;
        min-height: 239px;
        margin-right: 72px;
        margin-bottom: 10px;

        transform: scale(1);

        &:nth-child(2n) {
            margin-right: 72px;
        }

        &:nth-child(5n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 5) {
            margin-bottom: 0;
        }
    }
}

.project-card {
    @media screen and (min-width: 1200px) {
        width: auto;
        height: 315px;

        transition: all 250ms;
        // transition: transform 250ms;

        .list-devices__item:hover & {
            // position: absolute;
            padding-top: 15px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;

            transform: scale(1.2) translateY(-30px);
            background-color: var(--white-color);

            box-shadow: 0px 0px 10px rgba(0, 37, 74, 0.2);
            border-radius: 4px;
        }
    }
}

.project-card__img {
    height: 129px;

    @media screen and (min-width: 1200px) {
        height: auto;
    }
}   

.project-card__link {
    display: block;
    margin-top: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    text-decoration: none;

    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 19px;
        line-height: 1.16;

        pointer-events: none;
    }

}

.project-card__link-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    text-decoration: none;

    transition: transform 250ms, background-color 250ms;

    @media screen and (min-width: 1200px) {
        width: 160px;
        height: 40px;
        margin-top: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        color: var(--white-color);
        background-color: var(--accent-color);
        border: var(--accent-color);
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #0060AA;
        }

        .list-devices__item:hover & {
            transform: scale(1);
        }
    }
}

.red-color {
    color: rgb(3, 230, 135);
}