.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.button-burger {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    background-color: var(--white-color);
}

.button-contact {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-left: 76px;

    background-color: var(--accent-color);
    border: none;
    border-radius: 50%;
}

.mobile-contacts {
        position: absolute;
        top: 55;
        right: 20;

        transform: scale(0);
    
    &.contact-open {
        position: absolute;
        top: 55;
        right: 20;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 117px;
        z-index: 100;

        background-color: var(--white-color);
        outline: 1px solid rgba(61, 61, 61, 0.3);
        border-radius: 4px;

        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);

        transform: scale(1);
        transition: transform 250ms;
    }

}

.button-contact__image {
    width: 13px;
    height: 22px;

    fill: var(--white-color);
}

.icon-cross {
    display: block;
    // если есть класс дополнительный класс is-open у .button-burger то .icon-cross скрывается (display: none;) 
    .button-burger.is-open & { 
        display: none;
    }
}

.icon-burger {
    display: none;
    // если есть класс дополнительный класс is-open у .button-burger то .icon-burger показывается (display: block;)
    .button-burger.is-open & {
        display: block;
    }
}

.mobile-logo__image {
    width: 114px;
    height: 27px;
    margin-left: 28px;
}