.repair-filter {
    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 18px;
        padding-bottom: 16px;
    }
    
}

.repair-menu {
    @extend %list;

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;

    }
}

.repair-menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(212, 228, 239, 0.6);

    @media screen and (min-width: 1200px) {
        margin-left: 54px;
        margin-top: 13px;
        border: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

.repair-menu__button {
    position: relative;
    display: inline-flex;
    align-items: center;

    padding: 20px 20px 18px 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--rare--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        padding: 0;

        &::after {
            content: " ";
            position: absolute;
            top: 20px;
            width: 100%;
            height: 4px;

            background-color: var(--accent-color);
            border-radius: 4px;
            transform: scaleX(0);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
            
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.bottom {
    transform: scale(1);
    transform-origin: center;
    transition: transform 500ms;
    // если есть класс дополнительный класс is-open у .button-burger то .icon-cross скрывается (display: none;) 
    .repair-menu__button.submenu-open & { 
        transform: scale(0);
    }
}

.top {
    transform: scale(0);
    transform-origin: center;
    transition: transform 500ms;
    // если есть класс дополнительный класс is-open у .button-burger то .icon-burger показывается (display: block;)
    .repair-menu__button.submenu-open & {
        transform: scale(1);
    }
}


.repair-menu__icon {
    width: 19px;
    height: 13px;
    margin-left: 7px;

    fill: var(--accent-color);
}

.red-color {
    color: rgb(3, 230, 135);
    fill: rgb(3, 230, 135);
}

.submenu {
    display: block;
    height: auto;
    @extend %list;
    padding-left: 22px;
    padding-right: 46px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        width: 1151px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

// .submenu {
//     width: 100%;
//     @extend %list;
    
//     padding-left: 22px;
//     padding-right: 46px;

//     overflow-y: scroll;

//     display: none;
//     // ---transform: scaleY(0);
//     transition: transform 250ms linear;
//     transform-origin: top center;

//     @media screen and (min-width: 1200px) {
//         // ---display: flex;
//         // ---transform: scaleY(0);
//         // ---transition: transform 250ms linear;
//         // ---transform-origin: top center;
//     }
    
//     &.submenu-open {
//         display: block;
//         // ---transform: scaleY(1);
//         transform-origin: top center;
//         max-height: 300px;
    
//         @media screen and (min-width: 1200px) {

//             display: flex;
//             flex-wrap: wrap;
//             width: 1151px;
//             height: auto;
//             margin: 0 auto;
//             padding-bottom: 30px;
//             padding-top: 10px;
//             padding-left: 20px;
//             padding-right: 20px;
//             overflow:visible;

//             // ---transform: scaleY(1);
//             // ---transform-origin: top center;

//             background-color: var(--white-color);
//         }
//     }
// }

.submenu__item {
    border-bottom: 1px solid #D4E4EF;

    @media screen and (min-width: 1200px) {
        display: flex;
        width: 251px;
        margin-right: 35px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 4) {
            border-bottom: none;
        }
    }
}

.submenu__link {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: var(--primary-text-color);

    text-decoration: none;

    transition: color 250ms;

    &:hover {
        color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.submenu__image {
    margin-right: 15px;
}

.contacts {
    display: none;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    }
}

.contacts__link-tel {
    display: inline-flex;
    align-items: center;

    font-weight: 400;
    font-size: 17px;
    line-height: 1.71;

    color: var(--secondary-text-color);

    text-decoration: none;

    transition: color 250ms linear;

    &:hover {
        color: var(--accent-color)
    }

    @media screen and (min-width: 1200px) {
        line-height: 1.17;
    }
}

.contacts__icon-tel {
    width: 16px;
    height: 16px;

    fill: #737D90;

    margin-right: 13px;
}

.contacts__icon-whatsapp {
    width: 18px;
    height: 18px;

    margin-left: 9px;

    fill: #33D16B;
}

.contacts__icon-viber {
    width: 18px;
    height: 18px;

    margin-left: 9px;

    fill: #7B539C;
}

.contacts__link-text {
    display: inline-flex;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    margin-top: 6px;

    color: var(--text-accent-color);

    transition: color 250ms linear;

    &:hover {
        color: #0060AA;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 3px;
        margin-left: 30px;
    }
}

.red-color {
    color: rgb(3, 230, 135);
}