.section-recommendations {
    padding-top: 15px;
}

.section-recommendations__title {
    margin-left: 20px;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    color: var(--primary-text-color);
}